*{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

body {
    display: block;
    margin: auto;
    text-align: center;
}

caption {
    padding: 10px;
    caption-side: bottom;
    font-size: .8em;
  }

.check, .ex {
    text-align: center;
  }

.check {
    color: green;
    font-size: 1.5em;
    font-weight: bolder;
}

table {
    display: inline;
    width: 100%;
    border: none;
  }

  tbody tr:nth-child(odd) {
	background-color: rgb(203, 230, 240);
}

td {
    padding: 15px;
}

#white {
    visibility: hidden;
}

thead {
    font-weight: bold;
    padding: 15px;
    background-color: rgb(133, 179, 194);
    color: white;
}

