@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Red+Rose:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 20px;
}

img {
    margin-top: 20px;
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 15px;
}

h1, h2, h3, footer {
    font-family: 'Red Rose', cursive;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

h2 {
    margin-top: -20px;
}

p, a:link, h4 {
    font-family: 'Open Sans', sans-serif;
   }

.para {
    font-size: 1.2em;
    line-height: 1.6;
}

.title, footer {
    background-color: black;
    color: rgb(240, 239, 251);
    padding: 10px;
}

h3 {
    margin: auto;
}

body {
    background-color: rgb(240, 239, 251);
}

a:link {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
  }

  a:hover {
    color: red;
    font-weight: 600;
  }

h4 {
    text-align: left;
    margin-bottom: 0px;
}

@media only screen and (max-width: 900px) {
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .alignment {
        grid-column: 1 / sapn2;
    }

    .alignment img {
        width: 80%;
    }

}

@media only screen and (max-width: 500px) {

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        display: block;
        margin: auto;
        width: 95%;
        margin-top: 15px;
    }

    .ducati {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .coolors {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .alignment {
        grid-column: 1/2;
        grid-row: 3/4;
    }

}