@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;600&display=swap');

#banner {
    background-color: #3A93E1;
    margin: 0;
}

#banner p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #F7F7FF;
    text-align: center;
    padding: 10px;
}

header {
    display: grid;
    grid-template-rows: 60px 60px;
    grid-template-columns: 1fr 1fr;
    padding: auto;
    gap: 15px;
    background-color: #AC551F;
}

#logo {
    float: left;
    max-width: 50px;
    margin: 10px 10px 0px 10px;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color:#F7F7FF;
    text-align: left;
    margin-top: 10px;
}

.chamber {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-left: 10px;
    margin-top: -22px;
}

.social {
    display: flex;
}

.social img {
    max-width: 30px;
    height: auto;
    margin-top: 20px;
}

.social img:first-of-type {
    margin-right: 5px;
}

nav button {
    margin-top: 10px;
    margin-right: 25px;
    float: right;
    background: transparent;
    border: none;
    font-size: 2rem;
    color:  #F7F7FF;
}

nav a {
    font-family: 'Gruppo', cursive;
    font-size: 15px;
    font-weight: bold;
    background-color: #AC551F;
}

nav ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #F7F7FF;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

main {
    margin: 10px;
}

#date {
    grid-column: 1/4;
    text-align: center;
    margin: auto;
    padding: 5px 25px;
    font-family: 'Gruppo', cursive;
    font-size: 13px;
    font-weight: bold;
    color:#F7F7FF;
    border: 1px solid #F7F7FF;
}

.box, .box1, .box2, .box3, .box4, .box5, .box6 {
    margin: 10px;
    width: auto;
    border: 2px solid #3A93E1;
    text-align: center;
}

.box1 {
    position: relative;
}

.box1 img, .pic1, .pic2, .photo img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#joinChamber {
    position: absolute;
    min-width: 80px;
    width: 30%;
    bottom: 15px;
    right: 25px;
}

.box1 h2 {
    position: absolute;
    top: 0;
    color: #AC551F;
    width: 100%;
    text-shadow: 1px 1px 2px #F7F7FF;
}

.box2 h2, .box2 p, .box3 p, .box p {
    padding: 5px;
}

.box3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 35% 25% 10% 10%;
    gap: 5px;
    max-height: 350px;
}

.box2 p, .box3 p, .box p, #chill, .discover {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.box3 h2 {
    grid-column: 1/3;
    grid-row: 1/2;
}

.box3 img {
    grid-column: 1/2;
    max-width: 80px;
    height: auto;
    margin-left: 30px;
}

.box3 img, #temp {
    grid-row: 2/3;
}

#temp {
    grid-column: 2/3;
    font-size: 2.2em;
    font-weight: bold;
    color: #3A93E1;
    margin-right: 10px;
}

.meteo {
    grid-column: 1/3;
    grid-row: 3/4;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #3A93E1;
}

#wind {
    grid-column: 1/2;
    grid-row: 4/5;
    text-align: right;
}

#chill {
    grid-column: 1/3;
    grid-row: 5/6;
    text-align: center;
    margin-top: -15px;
}

#data {
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: left;
}

#wind, #data {
    margin-top: -25px;
}

.box4 p, .box6 p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: black;
    padding: 10px;
}

.box6 button, .box1 button, #joinBt {
    width: 150px;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background-color: #3A93E1;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    font-size: 20px;
    color: #F7F7FF;
    box-shadow: 3px 3px 10px gray;
}

.box6 button:hover, .box1 button:hover, #joinBt:hover {
    background-color: #F7F7FF;
    color: #3A93E1;
}

.box a {
    color: black;
    margin: 15px;
}

.box img {
    max-width: 150px;
    text-align: center;
    margin: auto;
}

.enfasi {
    font-style: italic;
}

footer {
    background-color: #AC551F;
    font-family: 'Gruppo', cursive;
    font-size: 18px;
    text-align: center;
    color: #F7F7FF;
    padding: 10px;
}

.line, .address {
    line-height: 1.3;
    font-weight: normal;
}

.foot {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-bottom: -20px;
    margin-top: 0px;
}

.fas {
    font-size: 24px;
    color: #3A93E1;
}

#logoFot {
    max-height: 60px;
    width: auto;
    text-align: center;
}

.icon {
    max-height: 15px;
    width: auto;
    margin-right: 5px;
}

.line a, .box a {
    text-decoration: none;
}

.line a {
    color: #F7F7FF;
}

.line a:hover, .box a:hover {
    color:#3A93E1;
    font-weight: bold;
}

.chamberFot {
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #AC551F;
}



/*dmographic*/
.pagina2, .gallery {
    text-align: center;
}

.discover {
    text-align: left;
}

.stats1, .stats2, .tour {
    font-family: 'Gruppo', cursive;
    font-size: 1em;
    color: #3A93E1;
    text-align: center;
    margin-top: 50px;
}

.pic1, .pic2 {
    display: block;
    margin: auto;
    max-width: 700px;
}

.photo img[data-src]{
    filter:blur(0.2em)
}

.photo img {
    filter:blur(0em);
    transition:filter 0.5s;
    display: block;
    margin: auto;
    max-width: 700px;
    height: auto;
}

.gallery {
    border-top: 1px solid #3A93E1;
    margin-top: 50px;
    margin-bottom: 50px;
}



/*ultima visita*/
#ultimaVisita {
    font-style: italic;
}



/*form*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #AC551F;
    border-radius: 10px;
    padding: .5rem 2%;
}

form label.dati, form div {
    display: block;
    padding-top: 1rem;
}

form label.dati, fieldset div {
    font-family: 'Gruppo', cursive;
    font-size: 1.1em;
}


form label.dati input, form label.dati select, textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #AC551F;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 18rem;
    background-color: #F7F7FF;
}

form label.dati input:required {
    border-left: red solid 6px;
}

form label.dati input:required:valid {
    border-left: #3A93E1 solid 6px;

}

legend {
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    font-size: 1.2em;
}

#form {
    text-align: center;
}

fieldset div {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

table {
    margin-top: 30px;
}

td {
    display: block;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
    margin-bottom: 40px;
    border: 1px solid #3A93E1;
    border-radius: 10px;
}

td:hover {
    background-color: #F7F7FF;
    box-shadow: 3px 3px 10px gray;
}

td a {
    text-align: center;
    text-decoration: none;
    color: gray;
    font-style: italic;
    font-size: 0.8em;
}

.livello {
    font-family: 'Gruppo', cursive;
    font-size: 1.5em;
    font-weight: bold;
}

.price {
    font-family: 'Gruppo', cursive;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #3A93E1;
}

#bottone {
    text-align: center;
}

#joinBt {
    text-align: center;
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: none;
    background-color: #3A93E1;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    font-size: 20px;
    color: #F7F7FF;
    box-shadow: 3px 3px 10px gray;
}

/*thank you*/

#ok, #message {
    text-align: center;
}

#message {
    font-family: 'Open Sans', sans-serif;
}


/*Business Directory page*/

.busiPart {
    display: block;
}

.gridList {
    margin: 0.5rem auto;
	padding: 0.8rem;
	text-align: center;
}

#grid, #list {
    height: 30px;
    width: 60px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #3A93E1;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    font-size: 20px;
    color: #F7F7FF;
    box-shadow: 3px 3px 10px gray;
}

.list section {
    border: none;
}

.list section:nth-child(even) {
	background-color: white;
}

.list section img, .list section phone, .list section email, .list section address, .list section state {
	display: none;
}

.list website {
    display: block;
    text-align: center;
}

.partners {
    text-align: center;
    margin: auto;
}

section {
    margin: 20px;
    background-color: #F7F7FF;
    border-radius: 10px;
    border: 1px solid #AC551F;
    padding: 15px;
}

section img {
    display: block;
    margin: auto;
    padding: 15px;
}

name {
    font-family: 'Gruppo', cursive;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    text-align: center;
}

address, state, phone, email, website {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    margin-top: 5px;
}

membershipLevel {
    display: block;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #AC551F;
    text-align: center;
    margin-top: 5px;
}