@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@media only screen and (min-width: 32.5em) {

a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
    font-family: 'Bruno Ace', cursive;
    line-height: 1.5em;
}

h1 {
    padding: 20px;
}

body {
    padding: 50px;
}

.me {
    width: 150px;
    margin-right: 0px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    color: orangered;
}

.string {
    text-align: left;
}

}