@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    padding: 15px;
}

.title {
    display: flex;}

.title, footer{
    background-color: rgb(3, 25, 38);
    box-shadow: 5px 10px 18px #888888;
    padding: 10px;
}

footer {
    color: rgb(255, 255, 188);
    text-align: center;
}

.me {
    max-width: 100px;
    border: solid 2px white;
    box-shadow: 3px 3px 8px #cecece;
    margin-right: 20px;
}

h1 {
    font-family: "Playfair Display", serif;
    color: white;
    margin-top: 50px;
}

.core {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

h2 {
font-family: 'Comfortaa', cursive;
color: black;
padding-top: 20px;
}

ul, .string, .copy {
    font-family: arial, sans-serif;
    line-height: 1.5em;
}

.string {
    font-style: italic;
    text-align: center;
}

.update {
    font-family: arial, sans-serif;
    font-size: 0.9em;
}