picture img[data-src]{
    filter:blur(0.2em)
}

picture img {
    filter:blur(0em);
    transition:filter 0.5s;
}

img {
    display: block;
    margin: auto;
    padding: 10px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}